---
import { getAllAuthors } from "@/lib/data-utils";

const _authors = await getAllAuthors();
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Authors" />
  <Breadcrumbs items={[{ label: 'Authors', icon: 'lucide:users' }]} />
  {
    authors.length > 0 ? (
      <ul class="flex flex-col gap-4">
        {authors.map((author) => (
          <li>
            <AuthorCard author={author} />
          </li>
        ))}
      </ul>
    ) : (
      <p class="text-muted-foreground text-center">No authors found.</p>
    )
  }
</Layout>
